<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Angular</h5>
  <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#">Strona główna</a>
  </nav>
</div>

<div class="mb-5">
  <app-header title="Ebooks" description="W naszej księgarni internetowej znajdziesz najlepsze ebooki, audiobooki, eprasę. Pobierz w wygodnym formacie (epub, mobi, pdf)"></app-header>
</div>

<div class="container">
 <router-outlet></router-outlet>
  <app-footer>
    <small class="d-block text-muted">©2020-2021 Marcin Łukaszewski</small>
  </app-footer>
</div>

