<div class="card mb-4 box-shadow">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">@(Item.Author)</h4>
    </div>
    <div class="card-body d-flex flex-column">
        <h1 class="card-title">
            <small>@(Item.Name)</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4">
            <li>@(Item.Description)</li>
        </ul>
        <NavLink class="btn btn-lg btn-block btn-dark mt-auto" href="@($"ebooks/{Item.Id}")">
            Czytaj więcej
        </NavLink>
    </div>
</div>