<footer class="footer my-md-3 pt-md-3 border-top">
    <div class="container">
        @ChildContent
    </div>
</footer>

@code 
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}