<div class="background-header">
    <div class="ebooks-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-2">@Title</h1>
        <p class="lead">@Description</p>
    </div>
</div>
