@inherits LayoutComponentBase

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Blazor</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Strona główna</a>
    </nav>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">O mnie</a>
    </nav>
</div>

<div class="mb-5">
    <Blazor.UI.Shared.Header></Blazor.UI.Shared.Header>
</div>

<div class="container">
    @Body
    <Blazor.UI.Shared.Footer></Blazor.UI.Shared.Footer>
</div>